#==============================================================================                                                                                
#                                                                              
#                                                                              
#                                  *(/*,                                       
#                                  /((((((/,                                   
#                                  /(((((((((((*                               
#                                 /((((( ./((((((((*                           
#                              ./((((((*     *((((((((/*                       
#                            ,/(((((((,         *(((((((((/,                   
#                         ./((((((((*             .(((((((((((,                
#                      ./(((((((((/                 ./((((((((((*              
#                    /((((((((((,                     /(((((((((((/.           
#                 ,((((((((((/.                        (((((((((((((.          
#               *(((((((((((,                          /(((((((((((((,         
#             ./(((((((((((,                           /(((((((((((((*         
#             /((((((((((((.                          /((((((((((((((,         
#             /((((((((((((/                        *(((((((((((((((,          
#             ,((((((((((((((/                   *((((((((((((((((/            
#               *(((((((((((((((/,            ,/((((((((((((((((,              
#                 /((((((((((((((((((/,,   ,/(((((((((((((((/.                 
#                    *((((((((((((((((/  ,((((((((((((((/                      
#                  ./*  ,/(((((((((((, *(((((((((((((/                         
#                   .((((*. ,/(((((*  *(((((((((((*  *((((((((///..            
#                    *(((((((/, .*,  /((((((((((*.*/((((((((((((,.             
#                     /((((((((((,  /(((((((((/ ./(((((((((((/                 
#                     /(((((((((/. *((((((((((  *(((((((((((/                  
#                     /(((((((((/ ,((((((((((,  *(((((((((((/                  
#                    ,(((((((((/, ,((((((((((/  ./(((((((((((/                 
#                   *((((((((((/  ,(((((((((((   ./((((((((((((*               
#                 ,(((((((((((,  ./((((((((((((    *(((((((((((((/.            
#              *((((((((((((/,   ./((((((((((((/.   ./((((((((((((((*,         
#         */(((((((((((((((*     ./(((((((((((((/.    ,((((((((((((((((/       
#                                                                              
#                                                                              
#                                                                              
#==============================================================================                                                                                
#                                                                                
#  Welcome to {{ ansible_host }} Server of BGU IT team
#                                                                                
#==============================================================================                                                                                
