#===================================================================================================                                                                                
#                                                                              
#                                                                                                    
#                                              `......`                                              
#                                           .:+oossso+//:.                                           
#                                         `/++/::///---:://.                                         
#                                        .+o+////::-:--..-/+-                                        
#                                        +o/::::-:/--------/+                                        
#                                       `o+://::::-----::::/+.                                       
#                                        +ooooo++---./+oooooo`                                       
#                                        :+ooo+++---:+oossso/                                        
#                                        `:++++//---:osssso/`                                        
#                                          .//+/+:--/ssso/-                                          
#                                            `-:/:::://-.                                            
#                                                 ```                                                
#                   `//:                                                                             
#    `..------` `:-..hys-----``---  -::  .::. ---`.---...`   ---     ----------. .---.`  ::::::-.    
#    :ss+//ohhs`/hy/./////yyh-.hhy `yhy` yhh.`sys`.::::+o+. `yyy`    -/:::::/ooo ./shh+  /+++ohdh-   
#    shh-  `yhy.oyy-     -hhs`-hhs .hho .yy+ .so+      /sy: :hho     .-:.   /yy:   :ddo       shh:   
#   .hhy`  .yys ::-      ohh: -hhs :yy: /ss- -oo:      shh- .:-`     +os.  .hhy`   +hh/       yhy.   
#   :hyo...+yy/      `.-+hh+  -hho.:+/-/o+:  /os-     `yys`         `syy`.-shy- ...yhh. ...../ys/`   
#   :o+++ooooo.      /ooo/.   .++++////:-`   /+o`     .++/          :hho`+o+:` `oooooo`.ooo++++//.   
#                                                                   :oo:                             
#                                                                                                    
#                                                                              
#===================================================================================================                                                                                
#                                                                                
#  Welcome to {{ ansible_host }} Server of BOJ OSB team
#                                                                                
#===================================================================================================                                                                                

Note: Authorized uses only. All activity may be monitored and reported.

