responseFileVersion=/oracle/assistants/rspfmt_dbca_response_schema_v12.2.0
gdbName={{ sid }}
sid={{ sid }}
databaseConfigType=SI
createAsContainerDatabase=false
templateName=General_Purpose.dbc
sysPassword={{ syspassword }}
systemPassword={{ syspassword }}
emConfiguration=NONE
datafileDestination={{ oracle_base }}/oradata
recoveryAreaDestination={{ oracle_base }}/recovery_area
storageType=FS
characterSet=AL32UTF8
sampleSchema=FALSE
