#=======================================================================================
#=======================================================================================
#
# This python script configures wl domain.
#
#=======================================================================================
import sys
domain_name='{{ wl_domain_name }}'

def shutdown_cluster(cluster_name):
  try:
    shutdown(cluster_name,"Cluster")
  except Exception, e:
    print 'Error while shutting down cluster ',e
    dumpStack()

admin_user_name= '{{ domain_info.admin.user }}'
password='{{ domain_info.admin.password }}'
admin_listen_address='{{ domain_info.admin.listen_address }}'
admin_listen_port='{{ domain_info.admin.port }}'
connect(admin_user_name,password,'t3://'+admin_listen_address+':'+admin_listen_port)
domainRuntime()
{% for cluster in domain_info.clusters %}

cluster_name = '{{ cluster.name }}'
shutdown_cluster(cluster_name)

{% endfor %}

# now shutdown admin server.
shutdown()


exit()
